<header class="top-bar visible-lg-block">
    <div class="container">
        <div class="clearfix">
            <div class="col-left float_left">
                <ul class="top-bar-info">
                    <li><i class="icon-technology"></i>Phone: {{phone}}</li>
                    <li><i class="icon-note2"></i>{{email}}</li>
                </ul>
            </div>
            <div class="col-right float_right">
                <ul class="social">
                    <li>Stay Connected: </li>
                    <li><a href="https://www.facebook.com/kingserudite"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/kingserudite"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.twitter.com/kingserudite"><i class="fa fa-twitter"></i></a></li>
                </ul>
                <div class="link">
                    <a href="/contact" class="thm-btn">Contact Us</a>
                </div>
            </div>


        </div>


    </div>
</header>