{% set page = '500' %}
{% extends 'layouts/master.njk' %}

{%block content %}
<section class="error-section sec-padd2">
    <div class="container">
        <div class="row">
        <div class="column text-center">
            <h1 class="error-title">500</h1>
        </div>
        </div>
        <div class="row">
        <div class="column text-center">
            <h1 class="error-subtitle">Oops. An error occured on the server. Totally our fault. Sorry.</h1>
        </div>
        </div>
        <div class="row">
        <div class="column text-center">
            <a href="/" class="thm-btn">Go to Home</a>
        </div>
        </div>
    </div>
</section>
{%endblock%}